
<h2>Your completed story...</h2>

<div>
  <p>{{startingSentence}} <br>
  {{#each story}}
{{userSentence}}<br>
  {{/each}}
  </p>
</div>
<button class="button" type="button"><a class="link" href="/">Restart</a></button>
<br>
