
  <p>Starting Sentence:</p>
  <p><strong>{{startingSentence}}</strong></p>
<form action='/add-sentence' method="POST">
  <label for="sentence">Write the next sentence here:</label><br>
  <textarea type="text" id="sentence" name="sentence"></textarea><br> <br>
  <input class="button" type="submit" value="Submit">
</form>

<p class= "centre">How to Play...</p>
<div class="instructions">
<ol>
  <li>The first player will be presented with a given sentence to start the story with.</li><br>
  <li>They will need need to write the next sentence in the above box to carry on the story.</li><br>
  <li>Once completed, they need to click on the 'Submit' button to submit their sentence entry</li><br>
  <li>They will then be taken to the next page which will present the last entry and the option to add their entry to follow.</li><br>
  <li>Repeat steps 2 and 3 for the desired amount of entries</li><br>
  <li>Once all players have added their sentence, click 'Generate Story' to put the story together.</li>
</ol>
  <p class= "centre"><strong>Enjoy your story!!!</strong></p> 
</div>