<p>{{startingSentence}}</p>


  <form>
<label for="title">Write your following sentence here:</label><br>
<input type="text" id="title" name="title"><br>
  </form>

<button class="button" type="button"><a class="link" href="/addSentence">Add Sentence</a></button>