
<!DOCTYPE html>
<html>

<head>
  <title>TellStory</title>
</head>

<body>
    {{{body}}}
    <form>
  <label for="fname">Write your following sentence here:</label><br>
  <input type="text" id="fname" name="fname"><br>
    </form>
</body>

</html>

<button class="button" type="button"><a class="link" href="/addProfile">Add new Profile</a></button>