
<!DOCTYPE html>
<html>

<head>
  <title>TellStory</title>
</head>

<body>
    {{{body}}}
</body>

</html>

<button class="button" type="button"><a class="link" href="/addProfile">Add new Profile</a></button>