
  <p>Previous Sentence:</p>
  <p><strong>{{userSentence}}</strong></p>
<form action='/add-sentence' method="POST">
  <label for="sentence">Write the following sentence here:</label><br>
  <textarea type="text" id="sentence" name="sentence"></textarea><br> <br>
  <input class="button" type="submit" value="Submit">
  <button class="button1" type="button"><a class="link" href="/display-story">Generate Story</a></button> 
</form>